*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

.toggle_menu
{
	position: fixed;
	padding: 10px 15px 10px 10px;
	margin-top: 0px;
	color: white;
	cursor: pointer;
	background-color: rgba(17,17,17,0.8);
	z-index: 100000;
	font-size: 2em;
	opacity: 0;
}
.toggle_menu:hover
{
background-color: #34495e;
}
.sidebar_menu
{
	position: fixed;
	width: 300px;
	margin-left: 0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(17,17,17,0.9);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fa-times
{
	right: 10px;
	top: 10px;
	opacity: 0.9;
	cursor: pointer;
	position: absolute;
	color: white;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fa-times:hover
{
	opacity: 1;
}
.boxed_item
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	margin-top: 70px;
	text-align: center;
}
.logo_bold
{
	font-weight: 800;
}
.logo_title
{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 14px;
	text-align: center;
	padding: 5px 0;
}
.navigation_selection
{
	margin-left: 25px;
	margin: 20px 0;
	display: block;
	width: 275px;
}
.navigation_item
{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 15px;
	font-weight: 200;
	box-sizing: border-box;
	border-bottom: solid 1px #8d8d8d;
	color: #b8b8b8;
	margin-left: 6px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
.navigation_item:hover
{
	margin-left: 10px;
	font-size: 16px;
}
.hide_menu
{
	margin-left: -300px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.opacity_one
{
	opacity: 1;
}
.letra
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	margin-top: 70px;
	text-align: center;
}









